:host {
    display: flex;
    justify-content: center;
    margin: 150px auto 500px auto;
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 25px;
  }
  
  mat-card {
    width: 400px;
    height: 350px;
    background-color: #f2f2f2cd;
    box-shadow: 12px 18px 28px -3px rgba(143,135,143,1);
    color: gray;
  }
  
  .error {
    color: red;
    margin-left: 10px;
  }
  
  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  * {
    box-sizing: border-box;
  }

 .button button {
    box-shadow: 12px 18px 28px -3px rgba(143,135,143,1);
    padding: 20px;
  }