.example-card {
    max-width: 250px;
    background-color: #f2f2f2cd;
    box-shadow: 12px 18px 28px -3px rgba(143,135,143,1);
    margin-top: 10px;
  }

  .example-card:hover {
    transform: scale(1.03);
    background-color: #e2dbd0;
  }
  
.example-header-image {
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

mat-card-content,
img {
  margin-top: 8px;
}