<a [routerLink]="['/coffees', coffee.id]">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" style="background-image: url('{{coffee.createdBy.profilePicture}}')"></div>
      <mat-card-title>{{ coffee.name }}</mat-card-title>
      <mat-card-subtitle>Created by: {{ coffee.createdBy.username }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="coffee.imageUrl" alt="{{ coffee.name }}">
    <mat-card-content>
      <p>{{ coffee.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</a>