<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Café Bombon</mat-card-title>
      <mat-card-subtitle>Contributed by: james</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/drrxks8d9/image/upload/v1685296933/Coffee/image-3-1-1200x690_g0ahdn.jpg" alt="Coffee name">
    <mat-card-content>
      <p>
        coffee drink originating from Spain. It's two ingredients - espresso and sweetened condensed milk. When put together, it forms a layered look as the sweetened condensed milk holds the espresso up without mixing when poured in like milk does.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>